#### why does indexing start from 0?

     -  Address = Base Address + Index * Size of the data type

## String

In [98]:

# Basic Operations
str1 = "hello"
str2 = "world"
concatenated = str1 + str2  # Concatenation
repeated = str1 * 3        # Repetition
length = len(str1)         # Length
char = str1[0]            # Indexing
slice = str1[1:4]         # Slicing
# Common String Methods
text = "  Hello, World  "
text.strip()      # Remove leading/trailing whitespace
text.lower()      # Convert to lowercase
text.upper()      # Convert to uppercase
text.split(',')   # Split string into list
text.replace('o', 'x')  # Replace characters
text.find('o')    # Find first occurrence , returns index
text.count('l')   # Count occurrences
','.join(['a','b'])  # Join strings
text.startswith('H')  # Check prefix
text.endswith('d')   # Check suffix
#case conversion methods
str3="Hello world"
str3.capitalize() #Converts the first character of a string to uppercase and the rest to lowercase.
str3.title() #Converts the first letter of each word to uppercase.
str3.swapcase() #Swaps uppercase to lowercase and lowercase to uppercase.
#classification methods
str4="python"
str4.isalpha() #Returns True if all characters in the string are alphabetic (A-Z, a-z) else False
str5="12.34"
str5.isdecimal() #Returns True if the string contains only decimal digits (0-9) else False
str4.islower() #Returns True if all characters in the string are lowercase else False
str4.isupper() #Returns True if all characters in the string are uppercase else False
str4.isalnum() # Returns True if the string contains only letters and numbers (A-Z, a-z, 0-9) else False
#other methods
str6 = "Python is fun, Python is powerful"
str6.index("fun") #Finds the first occurrence of a substring and returns its index Raises ValueError if the substring is not found.
str6.rindex("is") #Finds the last occurrence of a substring and returns its index Raises ValueError if the substring is not found
str6.rfind("Java") #Similar to rindex(), but returns -1 if the substring is not found (instead of raising an error).

ch='x'
ord(ch) #gives unicode value of the character
chr(74) #gives the character with unicode value

False

'ak'

In [104]:
text  = 'hello world '

5

## List

In [59]:

lst = [1, 2, 3 , 6, 7, 8, 9, 10]

# Modification Methods
lst.append(4)     # Add single element
lst.extend([5,6]) # Add multiple elements
lst.insert(0, 0)  # Insert at index
lst.remove(1)     # Remove first occurrence
lst.pop()         # Remove and return last element
lst.pop(0)        # Remove and return element at index
lst.clear()       # Remove all elements
lst1 = [1, 2, 3 , 6, 7, 8, 9, 10]
# Information Methods
lst1.index(2)      # Find index of element
lst1.count(2)      # Count occurrences
lst1.sort()        # Sort in-place
lst1.reverse()     # Reverse in-place

# Operations
len(lst1)          # Length
lst1 + [4,5]       # Concatenation
lst1 * 2           # Repetition
2 in lst1          # Membership testing

True

In [132]:
lst2 = [1, 2, 3, 4, 5] *2 
print(lst2)
lst2.count(4)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

2

In [124]:
lst = [1, 2, 4]
print(lst)
lst.pop()
print(lst)

[1, 2, 4]
[1, 2]

### Tuple

In [133]:
tup = (1, 2, 3)

# Information Methods (Limited due to immutability)
tup.count(2)      # Count occurrences
tup.index(2)      # Find index

# Operations
len(tup)          # Length
print(tup + (4,5))       # Concatenation
print(tup * 2)           # Repetition
print(2 in tup)          # Membership testing

(1, 2, 3, 4, 5)
(1, 2, 3, 1, 2, 3)
True

### set

In [135]:
s = {1, 2, 3}
print(s)
print(type(s))
ss = {}
ss = set()
print(type(ss))
print(type(ss))
# Modification Methods
s.add(4)          # Add element
s.remove(1)       # Remove element (raises error if not found)
s.discard(1)      # Remove element (no error if not found)
s.pop()           # Remove and return arbitrary element
s.clear()         # Remove all elements

# Set Operations
s1 = {1, 2, 3}
print(type(s1))
s2 = {3, 4, 5}
s1.union(s2)      # Union
s1.intersection(s2)  # Intersection
s1.difference(s2)    # Difference
s1.symmetric_difference(s2)  # Symmetric difference 
s1.issubset(s2)      # Check if subset
s1.issuperset(s2)    # Check if superset

# Operations
len(s)            # Length
2 in s            # Membership testing

{1, 2, 3}
<class 'set'>
<class 'set'>
<class 'set'>
<class 'set'>

False

In [155]:
my_set = {1, 2, 3, 4, 5}
my_set.pop()

1

In [160]:
my_set.pop()
my_set.add(6)
print(my_set) 
my_set.add(7)
print(my_set)

{6}
{6, 7}

In [166]:

my_set.update({2, 0, 5, 8, 'basara',"Basara"})
print(my_set)

{0, 2, 5, 6, 7, 8, 'basara', 'Basara'}

In [153]:
my_set.pop()

3

### Dictionary

In [79]:
d = {'a': 1, 'b': 2}

# Modification Methods
d['c'] = 3        # Add/update key-value
d.update({'d': 4})  # Add/update multiple
d.pop('a')        # Remove and return value
d.popitem()       # Remove and return last item
d.clear()         # Remove all items

# Access Methods
d.get('a')        # Get value (with optional default)
d.keys()          # Get all keys
d.values()        # Get all values
d.items()         # Get all key-value pairs
d.setdefault('a', 1)  # Get value, set if missing

# Operations
len(d)            # Length
'a' in d          # Key membership testing
del d['a']        # Delete key-value pair

print(d)
d = {'a': 1, 'b': 2}
d.setdefault('d', 1)
d.setdefault('m', 10)
print(d)

{}
{'a': 1, 'b': 2, 'd': 1, 'm': 10}

In [136]:
employee = {"name " : "John", "age": 30, "department": "HR", 'salary': 50000, 'location': 'New York', 'email': 'john@example.com'}
print(employee)

{'name ': 'John', 'age': 30, 'department': 'HR', 'salary': 50000, 'location': 'New York', 'email': 'john@example.com'}

In [137]:
employee.keys()

dict_keys(['name ', 'age', 'department', 'salary', 'location', 'email'])

In [138]:
employee.values()

dict_values(['John', 30, 'HR', 50000, 'New York', 'john@example.com'])

In [140]:
employee.keys()

dict_keys(['name ', 'age', 'department', 'salary', 'location', 'email'])

In [147]:
employee.setdefault('is_alive' ,True)

True

In [150]:
employee.get('car', 'next year kontadu')

'next year kontadu'

In [146]:
employee.get('cat',)

dict_values(['John', 30, 'HR', 50000, 'New York', 'john@example.com'])

In [91]:
my_dict = {"a": 1, "c": 3, "b": 2} 
dict_sorted = sorted(my_dict.items())
print(dict_sorted)

[('a', 1), ('b', 2), ('c', 3)]

In [92]:
# sort and sorted 
my_list = [1, 2, 3, 4, 5]
print(my_list.sort()) # sort doesn't return anything , just modifies the list, memory efficient ( large ), works on only lists

# sorted creates a new sorted list , doesn't modify the original list
my_tuple = (1, 2, 3, 4, 5)
print(sorted(my_tuple))
 # sorted returns a new sorted list ,
 # doesn't modify the tuple , 
 # sorted alwyas returns a list
 # it works on all iterables and returns a list
my_set = {1, 2, 3, 4, 5}
print(sorted(my_set))

my_dict = {'a': 1, 'b': 2, 'c': 3}
print(sorted(my_dict))

my_string = "hello"
print(sorted(my_string))

None
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
['a', 'b', 'c']
['e', 'h', 'l', 'l', 'o']

In [175]:
movies = ('spiderman', 'batman', 'superman', 'ironman', 'thor')
# print(movies.sort())
print(sorted(movies))

['batman', 'ironman', 'spiderman', 'superman', 'thor']

### ðŸš€ LevelUp : Dive Into the Challenge!

In [ ]:
# stings practice questions  
# Q1: Write a program to reverse a string without using the reverse function
input_str = "Python Programming"

# Q2: Given a string, count the number of vowels and consonants
text = "Hello World"

# Q3: Write a program to check if two strings are anagrams
str1 = "listen"
str2 = "silent"

# list practice questions 
# Q1: Remove duplicates from a list while preserving order
numbers = [1, 3, 3, 3, 6, 2, 3, 5]

# Q2: Find the secnd largest number in a list withut using sort()
nums = [10, 5, 8, 12, 3, 7, 5]

# Q3: Rotate a list by k positions
arr = [1, 2, 3, 4, 5]
k = 2  # Output should be [4, 5, 1, 2, 3] 

# Tuple practice questions 
# Q1: Convert a list of tuples into a dictionary
pairs = [("a", 1), ("b", 2), ("c", 3)]

# Q2: Find all pairs in a tuple list where sum is k
tuple_list = [(1,2), (3,4), (5,6), (7,8)]
k = 7

# Q3: Swap elements in tuple of tuples
tuple_of_tuples = ((1,2), (3,4), (5,6))

# set practice questions 
# Q1: Find common elements between multiple lists using sets
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
list3 = [5, 6, 7, 8, 9]

# Q2: Remove all vowels from a sting using sets
text = "Hello World"

# Q3: Find symmetric difference between two lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8] 

# dictionary practice questions 
# Q1: Group items by their first letter
words = ['apple', 'ant', 'banana', 'bat', 'cat']

# Q2: Merge two dictionaries with summing common values
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 3, 'c': 4, 'd': 5}

# Q3: Fid the most frequent character in a string using dictionary
text = "programming"

### Comparision Operators

In [ ]:
x = 5
y = 10

# Comparison operators
x == y    # Equal to
x != y    # Not equal to
x > y     # Greater than
x < y     # Less than
x >= y    # Greater than or equal to
x <= y    # Less than or equal to

# Logical operators
and    # Both conditions must be True
or     # At least one condition must be True
not    # Inverts the condition

# Identity operators
is     # Object identity comparison
is not # Negative object identity

# Membership operators
in     # Check if value exists in sequence
not in # Check if value doesn't exist in sequence

In [180]:
a  = 'hello' 
b = 'hello'
print(a == b) 
if a is b:
    print("a is b")
else:
    print("a is not b")

if a is not b:
    print("a is not b")
else:
    print("a is b")

True
a is b
a is b

### if else Statements

In [ ]:
# Basic if-else structure
condition = True
if condition:
    # Code executed if condition is True
else:
    # Code executed if condition is False

# Multiple conditions using elif
if condition1:
    # Executed if condition1 is True
elif condition2:
    # Executed if condition1 is False and condition2 is True
else:
    # Executed if all conditions are False

# Nested if statements
if outer_condition:
    if inner_condition: # type: ignore
        # Executed when both conditions are True
    else:
        # Executed when outer True, inner False

### For loop

In [188]:
for i in range(10):
    print(i, end=" ")
l =0, m = len(my_list) -1 
my_list = [1, 2, 3, 4, 5]
for i in range(len(my_list)):
    print(my_list[i], end=" ")

0 1 2 3 4 5 6 7 8 9 1 2 3 4 5

In [ ]:
# Basic for loop
sequence = [1, 2, 3, 4, 5]
for item in sequence:
    print(item)

# Range-based for loop
for i in range(5):    # 0 to 4
    print(i)

for i in range(2, 5): # 2 to 4
    print(i)

for i in range(0, 10, 2): # 0 to 9 with step 2
    print(i)

# Enumerate for index and value
for index, value in enumerate(sequence):
    print(f"Index {index}: {value}")

### While loop

In [ ]:
# Basic while loop
while condition:
    # Code block
    # Make sure condition eventually becomes False

# While loop with counter
count = 0
while count < 5:
    print(count)
    count += 1

# Infinite loop with break
while True:
    if exit_condition:
        break

### Loop Control Statements

In [ ]:
# Break - Exit the loop entirely
for i in range(5):
    if i == 3:
        break    # Exit when i equals 3

# Continue - Skip to next iteration
for i in range(5):
    if i == 3:
        continue # Skip when i equals 3

# Pass - Do nothing (placeholder)
for i in range(5):
    if i == 3:
        pass    # Placeholder for future code

In [109]:
points = [(1, 2), (3, 4)] # thinks like this are cooordinates

X: 1, Y: 2
X: 3, Y: 4

### Zip

In [ ]:
# Zip multiple iterables
names = ['Alice', 'Bob']
ages = [25, 30]
for name, age in zip(names, ages):
    print(f"{name} is {age} years old")

# Filter with list comprehension
numbers = [1, 2, 3, 4, 5]
evens = [x for x in numbers if x % 2 == 0]

# Nested comprehensions
matrix = [[i+j for j in range(3)] for i in range(3)]

# Multiple conditions
for num in numbers:
    if num > 0:
        if num % 2 == 0:
            print(f"{num} is positive and even")
        else:
            print(f"{num} is positive and odd")

In [93]:
sentence =  ["rahuyl  is cool and hfiie" , "dfalkahuyl  is cool and hfiie" , 'dhlakdfjdfd df df'] 
for i in sentence:
    def title_case(line=i):
        return line[0].title() + line[1:]
    print(title_case(i))

Rahuyl  is cool and hfiie
Dfalkahuyl  is cool and hfiie
Dhlakdfjdfd df df

In [94]:
sete = "rahuyl  is cool and hfiie" 
sete.title()

'Rahuyl  Is Cool And Hfiie'